<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendoc</title>

    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/page-prof.css">
    <link rel="stylesheet" href="../styles/forms.css">
    <link rel="stylesheet" href="../styles/appointment.css">
    <link rel="stylesheet" href="../styles/erro.css">

</head>

<body id="page-start">
    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a th:href="@{/profissionais/showIndex}">
                    <img src="../images/back.svg" alt="Voltar">
                </a>
            </div>
            <div class="header-content">
                <strong> Veja sobre sua consulta</strong>
                <span> Sempre evite desmarcar consultas de ultima hora. </span>
                <span> Nao se atrase. </span>
                <span> Nao se esqueca de disponibilizar o link da consulta. </span>
            </div>
        </header>
        <div class="schedule">
            <div class="link-time">
                <strong>Cliente:</strong>
                <legend th:text="${consulta.nome_cliente}"></legend>
            </div>
            <div class="link-time">
                <strong>Data e horário da consulta:</strong>
                <legend th:text="${consulta.data_consulta}"></legend>-<legend th:text="${consulta.horario}"></legend>
                h00min
            </div>
            <div class="link-time">
                <strong>Link do Google Meet para a consulta:</strong>
                <input name="link_meet" class="link" type="url" th:value="${consulta.link_meet}">
            </div>
            <div class="cancel">
                <a class="save" type="cancel"
                    th:href="@{/profissionais/cancelaConsulta?(data_consulta=${consulta.data_consulta})&(cpf_profissional=${consulta.cpf_profissional})&(hora=${consulta.horario})}"
                    onclick="return confirm('Tem certeza que deseja cancela essa consulta? | Are you sure you want to cancel this appointment?');"
                    th:text="#{cancel_appointment.text}"></a>
            </div>
        </div>
    </div>
</body>