<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendoc</title> 

    <link rel="stylesheet" href="../styles/main.css"> 
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/page-prof.css"> 
    <link rel="stylesheet" href="../styles/forms.css">
    <link rel="stylesheet" href="../styles/appointment.css">
    <link rel="stylesheet" href="../styles/erro.css">

</head>
<body id= "page-start" >
        <div id= "container">
            <header class="page-header">
                <div class="top-bar-container">
                    <a th:href="../clientes/showPaginaCliente">
                    <img src="../images/back.svg" alt="Voltar">
                    </a>
                </div>
                <div class="header-content">
                    <strong th:text="#{any_problem.text}"></strong>
                    <span th:text="#{any_problem_sub.text}"></span>
                </div>
            </header>
            <div class="schedule">
                <div class="link-time">
                    <strong th:text="#{professional.text}"></strong>
                    <legend th:text=" ${profissionalEscolhido.nome} ${profissionalEscolhido.area} - ${profissionalEscolhido.especialidade}"></legend>
                </div>
                <div class="link-time">
                    <strong th:text="#{date_time.text}"></strong>
                    <legend th:text=" ${consulta.data_consulta} - ${consulta.horario}">h00min</legend>
                </div>
                <div class="link-time">
                    <strong th:text="#{enter_link.text}">:</strong>
                    <form th:action="../clientes/mudaLinkConsulta?data_consulta=<c:out value='${consulta.data_consulta}'/>&cpf_profissional=<c:out value='${consulta.cpf_profissional}' />&hora=<c:out value='${consulta.horario}'/>" method="POST" id="register-prof" >
                    <input name="link_meet" class="link" type="url" value="<c:out value='${consulta.link_meet}'/>">
                    </form>
                    <button class ="saveLink" form='register-prof' type="submit"> 
                        Alterar
                    </button>
                        
                </div>
                <div class="cancel">
                    <a class="save" type="cancel" th:href="../clientes/cancelaConsulta?data_consulta=<c:out value='${consulta.data_consulta}'/>&cpf_profissional=<c:out value='${consulta.cpf_profissional}' />&hora=<c:out value='${consulta.horario}'/>" 
                    onclick="return confirm('Tem certeza que deseja cancela essa consulta? | Are you sure you want to cancel this appointment?');"
                    th:text="#{cancel_appointment.text}"></a>
                </div>
            </div>
        </div>
</body>