<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Agendoc</title>
</head>

<body>
    <div class="top-bar-container">
        <a th:href="@{/users/showLogin}">
            <img src="../images/back.svg" alt="Voltar">
        </a>
    </div>
    <div aligh="center" id="container"></div>
    <a class="profissionais" th:href="@{/users/showCadastroCliente}" th:text="#{i_am_client.text}"></a>
    <br>
    <a class="profissionais" href="@{/users/showCadastroProfissional}" th:text="#{i_am_professional.text}"></a>
    <br />
    <br />
    </div>
    </fmt:bundle>
</body>

</html>